<div class="p-4">
    <header class="d-flex justify-content-between align-items-center" >
        <h1 class="m-0">Modifier amendes </h1>
        <button mat-flat-button matDialogClose class="text-danger">
          <mat-icon>close</mat-icon>
        </button>
      </header>
    <form [formGroup]="newAmendentForm" >
        <div class="row mt-3">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Numero Amendes</mat-label>
                        <input matInput   placeholder="numAmendes" formControlName="numAmendes">
                    </mat-form-field>
                </div>  
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Montant</mat-label>
                        <input matInput   placeholder="Montant" formControlName="montant">
                    </mat-form-field>
                </div>  
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Type</mat-label>
                        <input matInput   placeholder="type"  formControlName="type">
                    </mat-form-field>
                </div>  
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Date du Amende</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="dateAmendes" >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>  
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Detail</mat-label>
                        <textarea matInput formControlName="detail"  placeholder="Amendes description ...."></textarea>
                    </mat-form-field>
                    
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Lieu</mat-label>
                       <!-- <input type="text" id="numTelephone" formControlName="numTelephone"><br><br>-->
                       <input matInput   placeholder="lieu" type="text" formControlName="lieu">
                    </mat-form-field>
                </div> 
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Chauffeur</mat-label>
                       <!-- <input type="text" id="numTelephone" formControlName="numTelephone"><br><br>-->
                       <input matInput   placeholder="chauffeur" type="text" formControlName="Chauffeur" [disabled]="true" readonly>
                    </mat-form-field>
                </div> 
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Voiture</mat-label>
                       <!-- <input type="text" id="numTelephone" formControlName="numTelephone"><br><br>-->
                       <input matInput   placeholder="voiture" type="text" formControlName="Voiture"  [disabled]="true"readonly >
                    </mat-form-field>
                </div> 

                
                <div class="col-md-12 my-3">
                    <label for="selectFile" class="btn btn-primary">Select Photo du amendes</label>
                    <span>{{fileName}}</span>
                    <input type="file" id="selectFile" (change)="selectImage($event)" hidden class="form-control">
                </div>
                
                              
        </div>
    </form>
    

    <footer class="tw-p-6">
        <div class="d-flex justify-content-center align-items-center">
            
            <button *ngIf="data" type="submit" mat-flat-button class="btn btn-success py-1 px-5 mx-2" (click)="updateAmendes()" >Modifier</button>
              <button mat-flat-button class="btn btn-danger py-1 px-5" matDialogClose>Fermer</button>
            </div>
        
      </footer>
</div>