<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar-brand">SNDP </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Mission&&valide demande <span class="sr-only" *ngIf="'/tasks' === currentRoute">(actuelle)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demande" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Demande <span class="sr-only" *ngIf="'/demande' === currentRoute">(actuelle)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/declaration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Declaration:Accident && Amendes <span class="sr-only" *ngIf="'/declaration' === currentRoute">(actuelle)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demande/y" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Entretien <span class="sr-only" *ngIf="'/demande/y' === currentRoute">(actuelle)</span></a>
        </li>
      
      </ul>
    </div>

    <div class="navbar-nav ml-auto">
      <a class="nav-link" (click)="logout()"><span class="material-icons">logout</span></a>
      <div class="nav-item d-flex align-items-center">
        <img [src]="'http://localhost:8787/api/v1/auth/get/image/' + idPhoto" alt="{{ photoName }}" width="30" height="30" style="border-radius: 50%; margin-right: 5px;">
        <span class="xy">{{ username }}</span>
         
<span class="material-icons" style="color: rgb(245, 238, 42);"> account_circle </span>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
