<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Chauffeur Information</h5>
            <p class="card-text">Nom: {{data.chauffeurName}}</p>
            <p class="card-text">Prénom: {{data.chauffeurPrename}}</p>
            <p class="card-text">Email: {{data.chauffeurEamil}}</p>
            <p class="card-text">Numéro CIN: {{data.chauffeurUserName}}</p>
            <p class="card-text">Numéro CNSS: {{data.chauffeurNumTel}}</p>
            <p class="card-text">Numéro de téléphone: {{data.chauffeurNumCNSS}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Voiture Information</h5>
            <p class="card-text">Libellé Marque: {{data.voitureMarque}}</p>
            <p class="card-text">Libellé Modèle: {{data.voitureModele}}</p>
            <p class="card-text">Matricule: {{data.voitureMatricule}}</p>
            <p class="card-text">Date de  Misen en Circulation: {{data.voitureDateCirculation}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Déclaration d'Accident Information</h5>
            <p class="card-text">Numéro Constat 1: {{data.numAmendes}}</p>
            <p class="card-text">Numéro Constat 2: {{data.montant }}</p>
            <p class="card-text">Description: {{data.detail}}</p>
            <p class="card-text">Type: {{data.type}}</p>
            <p class="card-text">Lieu: {{data.lieu}}</p>
            <p class="card-text">Date d'Accident: {{data.dateAmendes}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  